<div class="container text-dark bg-light rounded overlaytext everything">
    <h2>Applies to the following airlines and/or flights:</h2>
    <form id="applies_form">
        <div class="container applies_to" id="applies_to0">
            <div class="row mb-4">
                <div class="col-11">
                    <div class="row mb-1">
                        <div class="col-sm-2 my-auto">Airline:</div>
                        <div class="col-sm-4">
                            <input type="text" name="airlineCode[0]"  maxlength="2" required />
                        </div>
                        <div class="col-sm-2 my-auto">Flight code:</div>
                        <div class="col-sm-4">
                            <input type="text" name="flightcode[]" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 my-auto"><button type="button" class="btn btn-secondary remove-btn" style="display:none">Remove</button></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-2">
                <button type="button" id="add_applies" class="btn btn-primary">Add another airline/FN combination</button>
            </div>
        </div>

        <p>
            <input class="btn btn-primary submit-btn" type="submit">
            <button type="button" class="btn btn-danger" onclick="off()">Cancel</button>
        </p>
    </form>
</div>


<script type="text/javascript">

    $(".applies_to").find(".selectpicker").selectpicker('refresh')

    $(".submit-btn").click(function(event) {
        event.preventDefault();
        update_applies();
        off();
    });

    $("#add_applies").click(function() {

        // get the last DIV which ID starts with ^= "another-participant"
        var $div = $('.applies_to:last');

        // Read the Number from that DIV's ID (i.e: 1 from "another-participant1")
        // And increment that number by 1
        var num = parseInt( $div.prop("id").match(/\d+/g), 10 ) +1;

        // Clone it and assign the new ID (i.e: from num 4 to ID "another-participant4")
        var $klon = $div.clone().prop('id', 'applies_to'+num );


// for each of the inputs inside the dive, clear it's value and
// increment the number in the 'name' attribute by 1
        $klon.find('input').each(function() {
            this.value = "";
        });

        $klon.find(".dropdown-toggle").remove()

        $klon.find('.remove-btn').each(function() {
            $(this).attr('style','display:block')
        });
        //    let name_number = this.name.match(/\d+/);
        ///    name_number++;
        //    this.name = this.name.replace(/\[[0-9]\]+/, '['+name_number+']')
        //});
        // Finally insert $klon after the last div
        $div.after( $klon );
    });


    $(".everything").on('click', '.remove-btn', function(e){
        e.preventDefault();
        $(this).parents('.applies_to').remove();
    });

    function update_applies() {
        var airlines = $("#applies_form").find('input[name^="airlineCode"]');
        var flightcodes = $("#applies_form").find('input[name="flightcode[]"]');
        var return_applies = [];
        for(var i = 0; i < airlines.length; i++) {
            var applies = {};
            var carrier_selected = airlines[i].value;
            var fc = flightcodes[i].value;
            if(carrier_selected !== "") {
                applies["airlineCode"] = carrier_selected;
                applies["flightCode"] = fc;

                return_applies.push(applies);
            }
        }
        $('#applies_restrictions').html(pretty_print_applies(return_applies));
        $('#applies_restrictions_input').val( JSON.stringify(return_applies));
    }
</script>