<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link id="bsdp-css" href="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.3/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- scripts -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




</head>
<body>

<!--
@TODO: work on style and layout
@TODO: ensure form submission passes the right information in a json
-->


<div class="container">
    <h1>Create a new emergency airline conditions document</h1>
    <hr>
    <form id="createForm" name="createForm">
        <input id="route_restrictions_input" type="hidden" name="routeConditions" value=""/>
        <input id="applies_restrictions_input" type="hidden" name="appliesToConditions" value=""/>
        <h2>General info:</h2>
        <div class="row mb-4" >
            <div class="col-sm-5">Airline:</div>
            <div class="col-sm-7">
                <input type="text" name="airlineCode" maxlength="2" required />
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-5">Last updated:</div>
            <div class="col-sm-7">
                <!-- Date Picker Input -->
                <div class="datepicker date input-group shadow-sm">
                    <input type="text" placeholder="Last updated" class="form-control" id="last_updated">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                </div>
            </div><!-- DEnd ate Picker Input -->
        </div>
        <hr>

        <h2>Restrictions</h2>
        <div class="row mb-4" >
            <div class="col-sm-4">Issuance date range:</div>
            <div class="col-sm-1 text-right">From:</div>
            <div class="col-sm-3">
                <!-- Date Picker Input -->
                <div class="datepicker date input-group shadow-sm">
                    <input type="date" placeholder="From" class="form-control" id="mindate_issued" name="impactedIssuanceDateStart">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                </div>
            </div><!-- DEnd ate Picker Input -->
            <div class="col-sm-1 text-right">Until:</div>
            <div class="col-sm-3">
                <!-- Date Picker Input -->
                <div class="datepicker date input-group shadow-sm">
                    <input type="date" placeholder="To" class="form-control" id="maxdate_issued"  name="impactedIssuanceDateEnd">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                </div>
            </div><!-- DEnd ate Picker Input -->
        </div>
        <div class="row mb-4" >
            <div class="col-sm-4">Travel date range:</div>
            <div class="col-sm-1 text-right">From:</div>
            <div class="col-sm-3">
                <!-- Date Picker Input -->
                <div class="datepicker date input-group shadow-sm">
                    <input type="date" placeholder="From" class="form-control" id="mindate_travel" name="impactedTravelDateStart">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                </div>
            </div><!-- DEnd ate Picker Input -->
            <div class="col-sm-1 text-right">Until:</div>
            <div class="col-sm-3">
                <!-- Date Picker Input -->
                <div class="datepicker date input-group shadow-sm">
                    <input type="date" placeholder="To" class="form-control" id="maxdate_travel" name="impactedTravelDateEnd">
                    <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                </div>
            </div><!-- DEnd ate Picker Input -->
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">From/through/to:</div>
            <div class="col-sm-5"><div id="route_restrictions"></div></div>
            <div class="col-sm-2"><button type="button" class="btn btn-primary" id="route_btn">Edit</button></div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Applies to:</div>
            <div class="col-sm-5"><div id="applies_restrictions"></div></div>
            <div class="col-sm-2"><button type="button" class="btn btn-primary" id="applies_btn">Edit</button></div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Office IATA:</div>
            <div class="col-sm-7"><select class="selectpicker" name="officeIATACode" id="iata_selector">
                <option>BCNED3100</option>
                <option>PAROP2800</option>
            </select>
            </div>
        </div>
        <hr>

        <h2>Waiver/endorsement</h2>

        <div class="row mb-4" >
            <div class="col-sm-5">Waiver:</div>
            <div class="col-sm-7"><input type="text" name="waiverCode">
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Endorsement:</div>
            <div class="col-sm-7"><input type="text" name="endorsementCode">
            </div>
        </div>
        <hr>

        <h2>Conditions</h2>
        <div class="row mb-4" >
            <div class="col-sm-5">Reissue must be completed by:</div>
            <div class="col-sm-7"><input type="text" name="reissueConditions" id="reissueConditions">
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Refund must be completed by:</div>
            <div class="col-sm-4">
                <input type="text" name="refundConditions" id="refundConditions">
            </div>
            <div class="col-sm-3">
                <input type="checkbox" name="same_checkbox" id="same_checkbox"><label for="same_checkbox">&nbsp;Same as reissue</label>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Refund conditions:</div>
            <div class="col-sm-7"><textarea name="refundAllowed" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Rebook travel date by:</div>
            <div class="col-sm-7"><input type="text" name="rebookTravelDate">
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Change conditions:</div>
            <div class="col-sm-7"><textarea name="changeAllowed" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Reroute conditions:</div>
            <div class="col-sm-7"><textarea name="reroutingAllowed" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Upgrade conditions:</div>
            <div class="col-sm-7"><textarea name="upgradeAllowed" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">OAL allowed:</div>
            <div class="col-sm-7"><textarea name="oalCode" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">No-show conditions:</div>
            <div class="col-sm-7"><textarea name="noShowConditions" rows="5" cols="40"></textarea>
            </div>
        </div>
        <hr>

        <h2>Other info</h2>

        <div class="row mb-4" >
            <div class="col-sm-5">Other info:</div>
            <div class="col-sm-7"><textarea name="otherInfo" rows="5" cols="40"></textarea>
            </div>
        </div>
        <div class="row mb-4" >
            <div class="col-sm-5">Link:</div>
            <div class="col-sm-7"><input type="url" name="originalInfoLink">
            </div>
        </div>

        <div class="row mb-4" >
            <div class="col-sm-5">Attachments (introduce URLs separated by commas):</div>
            <div class="col-sm-7"><input type="text" name="attachmentLinks">
            </div>
        </div>

        <p>
            <input class="btn btn-primary" type="submit">
        </p>
    </form>
</div>
<div id="overlay" class="overlay"></div>

<script type="text/javascript">
    $('.datepicker').datepicker({
        clearBtn: true,
        format: "yyyy-mm-dd",
        autoclose: true
    });

    //@TODO: pass current values along in the request

    //$('#issuance_btn').click(function() {
    //    $('#overlay').load('/issuance/');
    //    $('#overlay').fadeIn();
    //});

    //$('#travel_btn').click(function() {
    //    $('#overlay').load('/travel/');
    //    $('#overlay').fadeIn();
    //});

    $('#route_btn').click(function() {
        var routes = $('#route_restrictions_input').val();
        if(routes === "") {
            routes = "[]";
        }
        $('#overlay').load('/route/', {routes: routes});
        $('#overlay').fadeIn();
    });

    $('#applies_btn').click(function() {
        $('#overlay').load('/applies/', {'applies': $('#applies_restrictions_input').val()});
        $('#overlay').fadeIn();
    });

    $(document).ready(function() {
        var office_iatas = ["PAROP3100", "BEROP3981", "LONOP3100", "SYDED3100", "MIAED3100", "MILED342A", "BCNED3351", "LISED3100", "OSLTL3160", "CPHTL3302", "HELTL3100", "VIEOP3100", "WAWTL3100", "STOTL3100"]
        var select = $('#iata_selector');

        if(select.prop) {
            var options = select.prop('options');
        }
        else {
            var options = select.attr('options');
        }
        $('option', select).remove();

        select.append(new Option("None", "", true, true));

        $.each(office_iatas, function(val) {
            select.append(new Option(office_iatas[val], office_iatas[val]));
        });

        $('.selectpicker').selectpicker('refresh');

        $('#same_checkbox').change(
            function() {
                if ($('#same_checkbox').is(':checked') == true) {
                    $('#refundConditions').val('').attr('disabled', 'disabled');
                }
                else {
                    $('#refundConditions').removeAttr('disabled');
                }
            }
        );

    });

    $("#createForm").submit(function(e){
        e.preventDefault();
        validateAndSubmit()
    });

    function validateAndSubmit() {
        if(validateForm()) {
            console.log("We're here");
            var forms = document.querySelectorAll('form');
            var form = forms[0];
            var createData = {};
            for(let field of form.elements) {
                if (field.name) {
                    if(field.name === "routeConditions" || field.name === "appliesToConditions") {
                        if (field.value !== "") {
                            createData[field.name] = JSON.parse(field.value)
                        }
                        else {
                            createData[field.name] = []
                        }
                    }
                    else if(field.name === "refundConditions") {
                        if($('#same_checkbox').is(':checked') == true) {
                            createData[field.name] = $('#reissueConditions').val();
                        }
                        else {
                            createData[field.name] = field.value;
                        }
                    }
                    else if(field.name === "attachmentLinks") {
                        if(field.value !== "") {
                            var links = field.value.split(",");
                            attachments = links.map(str => str.trim());
                            to_save = []
                            for(i = 0; i < attachments.length; i++) {
                                to_save.push({"link": attachments[i], "description": ""});
                            }
                            createData[field.name] = to_save;
                        }
                        else {
                            createData[field.name] = []
                        }
                    }
                    else if(field.name === "impactedIssuanceDateStart"
                        || field.name ===  "impactedIssuanceDateEnd"
                        || field.name ===  "impactedTravelDateStart"
                        || field.name ===  "impactedTravelDateEnd") {
                        if(field.value !== "") {
                            createData[field.name] = $.datepicker.formatDate('dd-mm-yy', field.valueAsDate);
                        }
                        else {
                            createData[field.name] = null;
                        }
                    }
                    else {
                        createData[field.name] = field.value;
                    }
                }
            }
            $.ajax({
                'type': 'POST',
                'url': "/airline-conditions/airlineconditions/management/v1/create",
                'contentType': 'application/json',
                'data': JSON.stringify(createData),
                'dataType': 'json',
                'success': function() { alert("it worked!"); location.reload(); },
                'error' : function(xhr, status, error) {
                        alert("Error: " + status + ", with message: " + error);}
            });
        }
        else {
            console.log("Validation error");
            return;
        }
    }

    function validateForm() {
        var f = document.forms["createForm"];
        var validation_errors = ""
        issuance_val = validate_ranges(f["impactedIssuanceDateStart"].valueAsDate, f["impactedIssuanceDateEnd"].valueAsDate);
        if(!issuance_val) {
            $('#mindate_issued').removeClass('is-valid').addClass('is-invalid');
            $('#maxdate_issued').removeClass('is-valid').addClass('is-invalid');
            validation_errors += "Issuance dates are invalid\n";
        }
        else {
            $('#mindate_issued').removeClass('is-invalid').addClass('is-valid');
            $('#maxdate_issued').removeClass('is-invalid').addClass('is-valid');
        }
        travel_val = validate_ranges(f["impactedTravelDateStart"].valueAsDate, f["impactedTravelDateEnd"].valueAsDate);
        if(!travel_val) {
            $('#mindate_travel').removeClass('is-valid').addClass('is-invalid');
            $('#maxdate_travel').removeClass('is-valid').addClass('is-invalid');
            validation_errors += "Travel dates are invalid\n";
        }
        else {
            $('#mindate_travel').removeClass('is-invalid').addClass('is-valid');
            $('#maxdate_travel').removeClass('is-invalid').addClass('is-valid');
        }

        if(validation_errors !== "") {
            alert(validation_errors);
        }

        return issuance_val && travel_val;
    }

    function validate_ranges(start, end) {
        if(!start || !end) {
            console.log("not a range, just a from or to");
            return true;
        }

        if(start < end) {
            console.log("range correct");
            return true;
        }
        console.log("not a good range");
        return false;
    }

    function off() {
        $("#overlay").fadeOut();
    }

    function pretty_print(daterange) {
        returnstring = "";
        for(var i = 0; i < daterange.length; i++) {
            start = daterange[i]["start"];
            end = daterange[i]["end"];
            if(start !== "") {
                returnstring += "from " + start + " ";
            }
            if(end !== "") {
                returnstring += "until " + end;
            }
            returnstring += "<br />"
        }
        return returnstring
    }

    function pretty_print_routes(routes) {
        returnstring = "";
        for(var i = 0; i < routes.length; i++) {
            returnstring += "<p><b>Route restriction</b><br/>";
            for (let [fromthroughto, locname] of Object.entries(routes[i])) {
                if("" !== locname) {
                    returnstring += fromthroughto + ": " + locname.toString() + "<br/>"
                }
            }
            returnstring += "</p>"
        }
        return returnstring;
    }

    function pretty_print_applies(applies_to) {
        console.log(applies_to);
        returnstring = "";
        for(var i = 0; i < applies_to.length; i++) {
            var a = applies_to[i];
            var flightcode = a["flightCode"];
            if(flightcode && typeof flightcode !== "undefined" && flightcode.length > 0) {
                returnstring += "Applies to flight:" + " " + a["airlineCode"] + flightcode + "<br/>"
            }
            else {
                returnstring += "Applies to all flights of airline " + a["airlineCode"] + "<br/>";
            }

        }
        return returnstring;
    }


</script>

</body>
</html>
