<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

</head>
<body>
<div class="container">
    <h1>Input a booking ID to proceed:</h1>
{% if message %}
<p>{{ message }}</p>
{% endif %}
    <hr>
<form action="/check/" method="post">
    <div class="row">
        <div class="col-sm-2"><label for="booking_id">Booking ID:</label></div>
        <div class="col-sm-10"><input type="text" name="booking_id"></div>
    </div>
    <p>
        <input class="btn btn-primary" type="submit">
    </p>
</form>
</div>
<div class="container">
    <a class="btn btn-primary" href="/create/">New</a>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>