<div class="container text-dark bg-light rounded overlaytext everything">
    <form id="issuance_form">
        <div class="container date_ranges">
            <div class="row mb-1">
                <div class="col-sm-2">From:</div>
                <div class="col-sm-3">
                    <div class="datepicker date input-group shadow-sm">
                        <input name="startrange[]" type="text" class="form-control" />
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">Until:</div>
                <div class="col-sm-3">
                    <div class="datepicker date input-group shadow-sm">
                        <input name="endrange[]" type="text" class="form-control" />
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar-o"></i></span></div>
                    </div>
                </div>
                <div class="col-sm-1"><button type="button" class="btn btn-primary remove-btn" style="display:none">Remove</button></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-2">
                <button type="button" id="add_range" class="btn btn-primary">Add another range</button>
            </div>
        </div>

        <p>
            <input class="btn btn-primary submit-btn" type="submit">
            <button type="button" class="btn btn-primary" onclick="off()">Cancel</button>
        </p>
    </form>
</div>

<script type="text/javascript">

    $('.datepicker').datepicker({
        clearBtn: true,
        format: "dd/mm/yyyy"
    });

    $(".submit-btn").click(function(event) {
        event.preventDefault();
        update_issuance();
        off();
    });

    $("#add_range").click(function() {

        // get the last DIV which ID starts with ^= "another-participant"
        var $div = $('.date_ranges:last');

        // Read the Number from that DIV's ID (i.e: 1 from "another-participant1")
        // And increment that number by 1
        //var num = parseInt( $div.prop("id").match(/\d+/g), 10 ) +1;

        // Clone it and assign the new ID (i.e: from num 4 to ID "another-participant4")
        var $klon = $div.clone()//.prop('id', 'date_ranges'+num );


// for each of the inputs inside the dive, clear it's value and
// increment the number in the 'name' attribute by 1
        $klon.find('input').each(function() {
            this.value = "";
        });

        $klon.find('.remove-btn').each(function() {
            $(this).attr('style','display:block')
        });
        //    let name_number = this.name.match(/\d+/);
        ///    name_number++;
        //    this.name = this.name.replace(/\[[0-9]\]+/, '['+name_number+']')
        //});
        // Finally insert $klon after the last div
        $div.after( $klon );
        $klon.find('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
    });


    $(".everything").on('click', '.remove-btn', function(e){
        e.preventDefault();
        $(this).parents('.date_ranges').remove();
    });

    function update_issuance() {
        var start_inputs = $("#issuance_form").find('input[name="startrange[]"]');
        var end_inputs = $("#issuance_form").find('input[name="endrange[]"]');
        var return_ranges = [];
        for(var i = 0; i < start_inputs.length; i++) {
            return_ranges.push({'start': start_inputs[i].value, 'end': end_inputs[i].value});
        }
        $('#issuance_ranges').html(pretty_print(return_ranges));
        $('#issuance_ranges_input').val( JSON.stringify(return_ranges));
    }
</script>