<div class="container text-dark bg-light rounded overlaytext everything">
    <h2>Allowed routes:</h2>
    <form id="route_form">
        <div class="container routes_allowed" id="routes_allowed0">
            <div class="row-mb-4">
                <div class="col-sm-6">Location types:</div>
                <div class="col-sm-6">
                    <select class="selectpicker" name="type[0]">
                        <option value="AIRPORT" selected="selected">Airport IATA</option>
                        <option value="CITY">City IATA</option>
                        <option value="COUNTRY">Country</option>
                    </select>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-11">
                    <div class="row mb-1">
                        <div class="col-sm-1 my-auto">From:</div>
                        <div class="col-sm-3">
                            <input type="text" name="fromtext[]" />
                        </div>
                        <div class="col-sm-1 my-auto">Through:</div>
                        <div class="col-sm-3">
                            <input type="text" name="throughtext[]" />
                        </div>
                        <div class="col-sm-1 my-auto">To:</div>
                        <div class="col-sm-3">
                            <input type="text" name="totext[]" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 my-auto"><button type="button" class="btn btn-secondary remove-btn" style="display:none">Remove</button></div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-sm-2">
                <button type="button" id="add_route" class="btn btn-primary">Add another allowed route</button>
            </div>
        </div>

        <p>
            <input class="btn btn-primary submit-btn" type="submit">
            <button type="button" class="btn btn-danger" onclick="off()">Cancel</button>
        </p>
    </form>
</div>


<script type="text/javascript">

    $.urlParam = function(name){
        var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
        if (results==null) {
            return null;
        }
        return decodeURI(results[1]) || 0;
    }

    $(document).ready( function() {
        var existing = JSON.parse($.urlParam("routes"));
        for(var i= 0; i < existing.length; i++) {
            var $div = $('.routes_allowed:last');
            if (i === 0) {
                $div.find('select[name^="type"]').val(existing[i]["locationType"]);
                $div.find('input[name="fromtext[]"]').val(existing[i]["from"]);
                $div.find('input[name="throughtext[]"]').val(existing[i]["through"]);
                $div.find('input[name="totext[]"]').val(existing[i]["to"]);
                $div.find(".selectpicker").selectpicker('refresh')
            } else {

                var $klon = $div.clone().prop('id', 'routes_allowed' + i);

                $klon.find('input[name="fromtext[]"]').val(existing[i]["from"]);
                $klon.find('input[name="throughtext[]"]').val(existing[i]["through"]);
                $klon.find('input[name="totext[]"]').val(existing[i]["to"]);

                $klon.find(".dropdown-toggle").remove();

                $klon.find('select').each(function () {
                    this.value = val(existing[i]["locationType"]);
                    this.name = this.name.replace(/\[[0-9]\]+/, '[' + num + ']')

                });

                $klon.find(".selectpicker").selectpicker('refresh');

                $klon.find('.remove-btn').each(function () {
                    $(this).attr('style', 'display:block')
                });
                //    let name_number = this.name.match(/\d+/);
                ///    name_number++;
                //    this.name = this.name.replace(/\[[0-9]\]+/, '['+name_number+']')
                //});
                // Finally insert $klon after the last div
                $div.after($klon);
            }
        }

    });

    $(".routes_allowed").find(".selectpicker").selectpicker('refresh')

    $(".submit-btn").click(function(event) {
        event.preventDefault();
        update_routes();
        off();
    });

    $("#add_route").click(function() {

        // get the last DIV which ID starts with ^= "another-participant"
        var $div = $('.routes_allowed:last');

        // Read the Number from that DIV's ID (i.e: 1 from "another-participant1")
        // And increment that number by 1
        var num = parseInt( $div.prop("id").match(/\d+/g), 10 ) +1;

        // Clone it and assign the new ID (i.e: from num 4 to ID "another-participant4")
        var $klon = $div.clone().prop('id', 'routes_allowed'+num );


// for each of the inputs inside the dive, clear it's value and
// increment the number in the 'name' attribute by 1
        $klon.find('input').each(function() {
            this.value = "";
        });

        $klon.find(".dropdown-toggle").remove();

        $klon.find('select').each(function() {
            this.value= "";
            this.name = this.name.replace(/\[[0-9]\]+/, '['+num+']')

        });

        $klon.find(".selectpicker").selectpicker('refresh')

        $klon.find('.remove-btn').each(function() {
            $(this).attr('style','display:block')
        });
        //    let name_number = this.name.match(/\d+/);
        ///    name_number++;
        //    this.name = this.name.replace(/\[[0-9]\]+/, '['+name_number+']')
        //});
        // Finally insert $klon after the last div
        $div.after( $klon );
    });


    $(".everything").on('click', '.remove-btn', function(e){
        e.preventDefault();
        $(this).parents('.routes_allowed').remove();
    });

    function update_routes() {
        var types = $("#route_form").find('select[name^="type"]');
        var from_text = $("#route_form").find('input[name="fromtext[]"]');

        var through_text = $("#route_form").find('input[name="throughtext[]"]');

        var to_text = $("#route_form").find('input[name="totext[]"]');


        var return_routes = [];
        for(var i = 0; i < types.length; i++) {
            var route = {};
            var type_selected = $(types[i]).children("option:selected").val();
            if(type_selected !== "") {
                if (from_text[i].value !== "" || through_text[i].value !== "" || to_text[i].value !== "") {
                    route["locationType"] = type_selected;
                    route["from"] = from_text[i].value;
                    route["through"] = through_text[i].value;
                    route["to"] = to_text[i].value;

                    return_routes.push(route);
                }
            }
        }
        $('#route_restrictions').html(pretty_print_routes(return_routes));
        $('#route_restrictions_input').val( JSON.stringify(return_routes));
    }
</script>