<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <title>Conditions for booking ID</title>
</head>
<body>

<div class="container">
    <h1>Booking info</h1>
    <div class="row">
        <div class="col-sm-3">Booking id:</div>
        <div class="col-sm-9">{{ bookingdata["BOOKING_ID"] }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Status:</div>
        <div class="col-sm-9">{{ bookingdata["STATUS"] }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Trip type:</div>
        <div class="col-sm-9">{{ bookingdata["TRIP_TYPE"] }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">From:</div>
        <div class="col-sm-9">{{ bookingdata["DEPARTURE_CITY_IATA"] }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">To:</div>
        <div class="col-sm-9">{{ bookingdata["ARRIVAL_CITY_IATA"] }}</div>
    </div>
    <div class="row">
        <div class="col-sm-3">Departure date:</div>
        <div class="col-sm-9">{{ bookingdata["DEPARTURE_DATE"].strftime("%d/%m/%Y") }}</div>
    </div>

    {% if bookingdata["TRIP_TYPE"] != "ONE_WAY" %}
    <div class="row">
        <div class="col-sm-3">Return date:</div>
        <div class="col-sm-9">{{ bookingdata["ARRIVAL_DATE"].strftime("%d/%m/%Y") }}</div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-3">Gross sales:</div>
        <div class="col-sm-9">{{ bookingdata["GROSSSALES"] }}</div>
    </div>
    <hr>
    {% if refund[0] or change[0] %}
    <h1>Possible actions with COVID-19 Specific conditions:</h1>
    <div class="container">
        {% if refund[0] %}
        <button class="btn btn-primary" onclick="on('refund')">Refund</button>
        <div id="refund_overlay" class="overlay" onclick="off()"><div class="container text-dark bg-light rounded overlaytext">{{ refund[1]|safe }}</div></div>
        {%endif%}
        {% if change[0] %}
        <button class="btn btn-primary" onclick="on('change')">Change</button>
        <div id="change_overlay" class="overlay" onclick="off()"><div class="container text-dark bg-light rounded overlaytext">{{ change[1]|safe }}</div></div>
        {%endif%}
    </div>
    <hr>
    {% endif %}
    {%if not has_carrier_info%}
    <h1>There are no COVID-19 Specific conditions for these flights</h1>
        {% for k in carrierinfo %}<p>{{k|tabFormat}}</p>{% endfor %}
    {%else%}
    <h1>COVID-19 Specific conditions that apply:</h1>
    <p>{% if carrierinfo|length > 1 %}Select the segment you are interested in{% endif %}</p>
    {% if carrierinfo|length > 1 %}
    <nav>
        <div class="nav nav-tabs" id="nav-segments" role="tablist">
        {% for k in carrierinfo %}
            {% if loop.first %}
            <a class="nav-item nav-link active" id="nav-{{ k }}-tab" data-toggle="tab" href="#nav-{{ k }}" role="tab" aria-controls="nav-{{ k }}" aria-selected="true">{{ k|tabFormat }}</a>
            {% else %}
            <a class="nav-item nav-link" id="nav-{{ k }}-tab" data-toggle="tab" href="#nav-{{ k }}" role="tab" aria-controls="nav-{{ k }}" aria-selected="false">{{ k|tabFormat }}</a>
            {% endif %}
        {% endfor %}
        </div>
    </nav>
    {% endif %}
    <div class="tab-content" id="nav-segmentContent">
    {% for k, v in carrierinfo.items() %}
        <div
        {% if loop.first %}
            class="tab-pane fade show active" id="nav-{{ k }}" role="tabpanel" aria-labelledby="nav-{{ k }}-tab">
        {% else %}
            class="tab-pane fade" id="nav-{{ k }}" role="tabpanel" aria-labelledby="nav-{{ k }}-tab">
        {% endif %}
            <p>
                <p>{% if v["conditions"]|length == 0 %}There are no COVID-19 Specific conditions for the airline {% elif v["conditions"]|length > 1 %}All of the possible conditions for this airline:{% else %}The conditions applicable for this airline:{% endif %} {{v["carrier"]}}</p>
            {% if v["conditions"]|length > 1 %}
            <nav>
                <div class="nav nav-pills" id="nav-{{ k }}-conditions" role="tablist">
                    {% for ci in v["conditions"] %}
                        {% if loop.first %}
                        <a class="nav-item nav-link active" id="nav-{{ k }}-{{ loop.index }}-tab" data-toggle="tab" href="#nav-{{ k }}-{{ loop.index }}" role="tab" aria-controls="nav-{{ k }}-{{ loop.index }}" aria-selected=true>{{ loop.index }}</a>
                        {% else %}
                        <a class="nav-item nav-link" id="nav-{{ k }}-{{ loop.index }}-tab" data-toggle="tab" href="#nav-{{ k }}-{{ loop.index }}" role="tab" aria-controls="nav-{{ k }}-{{ loop.index }}" aria-selected=false>{{ loop.index }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </nav>
            {% endif %}
            <div class="tab-content" id="nav-{{k}}-conditionContent">
                {% for ci in v["conditions"] %}
                    {% set ci_info = v['carrier_info'][loop.index0] %}
                    <div
                    {% if loop.first %}
                    class="tab-pane fade show active" id="nav-{{ k }}-{{ loop.index }}" role="tabpanel" aria-labelledby="nav-{{ k }}-{{ loop.index }}-tab">
                    {% else %}
                    class="tab-pane fade" id="nav-{{ k }}-{{ loop.index }}" role="tabpanel" aria-labelledby="nav-{{ k }}-{{ loop.index }}-tab">
                    {% endif %}
                        <table class="table table-bordered">
                        {% for label, value in ci.iteritems() %}
                        {% if label is not none %}
                        {% if label|trim not in ["FLIGHT_CODES", "FROM_DATE", "TO_DATE", "HAS_FC_RESTRICTIONS"] %}
                        {% if value is not none %}
                        {% if value|string != "nan" %}
                            {%if label == "AIRLINE" %}
                                <tr class="table-success">
                            {%elif label == "TRAVEL DATES IMPACTED" %}
                                {% if ci_info['date_included'] %}
                                    <tr class="table-success">
                                {% else %}
                                    <tr class="table-warning">
                                {% endif %}
                            {%elif label == "APPLIES TO" %}
                                    {% if ci_info['has_restrictions'] %}
                                        {% if ci_info['flight_number_included'] %}
                                            <tr class="table-success">
                                        {% else %}
                                            <tr class="table-warning">
                                        {% endif %}
                                    {% else %}
                                            <tr class="table-secondary">
                                    {% endif %}
                                {% endif %}
                                <td>{{ label }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </div>
            </p>
            </div>
    {% endfor %}
    </div>
    {%endif%}
</div>


<!-- scripts -->
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript">
    function on(overlay_name) {
        $("#" + overlay_name + "_overlay").fadeIn();
    }

    function off() {
        $("#refund_overlay").fadeOut();
        $("#change_overlay").fadeOut();
    }
</script>
</body>
</html>